/**
    * @file signup-page.css
    * @description This file contains the css for the signup page.
    * @author Hassan Aguezoum
*/

/* fraction is greedy and Auto is shy  */
.signupPage * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box !important;
}

.signupPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    box-sizing: border-box !important;
    position: relative;
}

.signupPage.shake {
    animation: shake 150ms linear 1;
}

@keyframes shake {

    0% {
        transform: translate(5px, 1px);
    }

    25% {
        transform: translate(-3px, 4px);
    }

    50% {
        transform: translate(3px, 8px);
    }

    75% {
        transform: translate(7px, -4px);
    }

    100% {
        transform: translate(-1px, -6px);
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 756px;
    height: fit-content;
    padding: 50px;
    background-image: linear-gradient(to bottom, var(--dead-blue), var(--white));
    -webkit-box-shadow: 54.7px 46.9px 60.7px -30px rgba(0, 0, 0, 0.025),
        126px 108px 270px -30px rgba(0, 0, 0, 0.06);
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 54.7px 46.9px 60.7px -30px rgba(0, 0, 0, 0.025),
        126px 108px 270px -30px rgba(0, 0, 0, 0.06);
    /* Firefox 3.5 - 3.6 */
    box-shadow: 54.7px 46.9px 60.7px -30px rgba(0, 0, 0, 0.025),
        126px 108px 270px -30px rgba(0, 0, 0, 0.06);
    /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    border-radius: 50px;
    z-index: 1;
}

.form {
    display: flex;
    place-items: center;
    flex-direction: column;
}

/* ************* form header **************** */
.form .form-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px 0 0;
    flex-direction: column;
    padding: 10px;
    height: fit-content;
}

.form .form-header h2.title {
    font-family: var(--primary-font);
    color: var(--primary-black);
    font-size: 48px;
    letter-spacing: 9px;
    margin: 1rem 0;
}

.form .form-header p.slugan {
    font-family: var(--socondry-font);
    color: var(--primary-black);
    font-size: 20px;
    font-weight: 400;
    opacity: 0.7;
}

/* ************* form body **************** */
.form .form-body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    /* background-color: antiquewhite; */
}

.form .form-body .form-group {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    /* justify-content: center; */
    /* align-content: center; */
    gap: 10px;
    padding: 10px;
    /* background-color: rgba(226, 147, 43, 0.133); */
}

.form .form-body .form-group .form-field:nth-child(1),
.form .form-body .form-group .form-field:nth-child(2) {
    grid-area: span 1;
}

.form .form-body .form-group .form-field {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: relative;
}

.form .form-body .form-group .form-field p.error {
    font-family: var(--socondry-font);
    color: var(--primary-danger);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.2px;
    position: absolute;
    top: 100%;
    left: 28px;
}

.form .form-body .form-group .form-field p.error svg {
    width: 12px;
    height: 12px;
}

.form .form-body .form-group .form-field>input {
    min-width: 100%;
    height: 40px;
    padding: 8px 20px;
    border-radius: 21px;
    border: none;
    background-color: var(--secondry-gray);
    font-family: var(--socondry-font);
    font-size: 20px;
    font-weight: 400;
    color: var(--primary-black);
    outline: none;
}

.form .form-body .form-group .form-field>input::placeholder {
    visibility: hidden;
}

.form .form-body .form-group .form-field>label {
    font-family: var(--socondry-font);
    color: var(--gray);
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 2px;
}

.form .form-body .form-group .password_forget {
    text-align: right;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-family: var(--socondry-font);
    color: var(--gray);
    font-size: small;
}

.form .form-body .form-group .form-field>button.btn_submit {
    width: 550px;
    height: 55px;
    padding: 10px;
    border-radius: 21px;
    border: none;
    background: radial-gradient(circle, var(--primary-black) 100%, var(--alive-blue) 0%);
    font-family: var(--socondry-font);
    font-size: 20px;
    font-weight: 400;
    color: var(--white);
    outline: none;
    cursor: pointer;
    margin: auto;
    transition: all 0.2s ease;
}

/* button of submit and auth with Google and 42 */
/* .form .form-body .form-group .form-field>button.btn_submit:hover,
.form .form-body .form-group .form-field>button.btn_submit:focus */

.signupPage .form-footer .remote-login button:hover,
.signupPage .form-footer .remote-login button:focus {
    outline: 1px solid var(--alive-blue);
    color: var(--primary-black);
    outline: 3px solid var(--alive-blue);
    transition: all 0.5s ease-in-out;
}

.form .form-body .form-group .form-field>button.btn_submit.active {
    /* animation: shineButton 0.8s 1; */
    animation-fill-mode: forwards;
    position: relative;
    overflow: hidden;
}

.form .form-body .form-group .form-field>button.btn_submit.active::after {
    content: "";
    position: absolute;
    width: 107px;
    height: 134px;
    transform: skew(-45deg);
    background: linear-gradient(to right, #ffffff00, rgb(204 232 243 / 53%), rgb(135 205 234 / 78%), rgb(204 232 243), rgb(204 232 243 / 63%), #c0c0c000);
    border-radius: 21px;
    z-index: 0;
    left: -135px;
    top: -50%;
    animation: shineButton 0.8s 1;
}

/* .form .form-body .form-group .form-field>button.btn_submit.active::before {
    content: "Loading...";
    font-family: var(--socondry-font);
    color: var(--white);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: shineButton 0.8s 1;
} */

.form .form-body .form-group .form-field>button.btn_submit:focus {
    outline: 3px solid var(--alive-blue);
}

@keyframes shineButton {
    to {
        left: 100%;
    }
}

.signupPage .form-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.signupPage .form-footer p {
    font-family: var(--socondry-font);
    color: var(--alive-blue);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.2px;
    width: 486px;
    height: 28px;
    text-align: center;
    position: relative;
}

.signupPage .form-footer>p::before,
.signupPage .form-footer>p::after {
    content: "- - - - - - - - -";
    font-weight: 500;
    font-family: unset;
    color: var(--alive-blue);
    position: absolute;
}

.signupPage .form-footer>p::before {
    left: 0px;
}

.signupPage .form-footer>p::after {
    right: 0px;
}

.signupPage .form-footer .remote-login {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 10px;
}

.signupPage .form-footer .remote-login button {
    width: 150px;
    height: 70px;
    border-radius: 21px;
    border: none;
    background-color: var(--primary-black);
    outline: none;
    cursor: pointer;
    outline: 3px solid transparent;
}

.signupPage .form-footer .remote-login button img {
    width: 60px;
    aspect-ratio: 1/1;
    filter: grayscale(100%);
}

.signupPage .form-footer .signup {
    font-family: var(--socondry-font);
    color: var(--gray);
    font-size: 18px;
    font-weight: 400;
    margin: 40px 0;
    letter-spacing: 1.2px;
    cursor: pointer;
    width: 100%;
}

.signupPage .form-footer .signup>p {
    display: block;
    text-align: left;
    width: 100%;
}

.signupPage .form-footer .signup>p:focus {
    outline: 3px solid var(--alive-blue);
}

.signupPage .form-footer .signup a {
    color: var(--primary-black);
}

/******************** validators ********************/
.form .form-body .form-group .form-field>input {
    outline: 1px solid var(--dead-blue);
    transition: outline 0.5s ease;
}

.form .form-body .form-group .form-field>input:focus {
    outline: 2px solid var(--alive-blue);
}

.form .form-body .form-group .form-field>input:not(:placeholder-shown):valid {
    outline: 1px solid var(--primary-success);
}

.form .form-body .form-group .form-field>input:not(:placeholder-shown):invalid {
    outline: 1px solid var(--primary-danger);
}

.form .form-body .form-group .form-field>input:not(:placeholder-shown):focus:invalid {
    outline: 1px solid var(--socondry-warning);
}