:root {
    --primary-blue: rgb(24, 165, 226);
    --primary-success: rgb(34, 189, 79);
    --socondry-success:rgba(103, 201, 131, 0.963);
    --primary-danger: rgb(220, 53, 69);
    --primary-warning:rgb(220, 181, 53);
    --socondry-warning: rgba(220, 181, 53, 0.372);
    --primary-black: rgba(0, 0, 0, 0.8);
    --socondry-black: rgb(138, 146, 160);
    --dead-blue: rgb(204, 232, 243);
    --alive-blue:rgb(135, 205, 234);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --gray: rgb(138, 146, 160);
    --secondry-gray : rgba(217, 217, 217, 0.264);
    --primary-font: "Righteous", sans-serif;
    --socondry-font: "ABeeZee", sans-serif;
    --primapry-purpule: rgb(156, 71, 255);
}