/* This is the login form css */

.loginPage * {
  /* border: 1px solid red; */
  margin: 0%;
  padding: 0%;
  box-sizing: border-box !important;
}

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  box-sizing: border-box !important;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 756px;
  height: 973px;
  padding: 50px;
  background-image: linear-gradient(to bottom, var(--dead-blue), var(--white));
  -webkit-box-shadow: 54.7px 46.9px 60.7px -30px rgba(0, 0, 0, 0.025),
    126px 108px 270px -30px rgba(0, 0, 0, 0.06);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 54.7px 46.9px 60.7px -30px rgba(0, 0, 0, 0.025),
    126px 108px 270px -30px rgba(0, 0, 0, 0.06);
  /* Firefox 3.5 - 3.6 */
  box-shadow: 54.7px 46.9px 60.7px -30px rgba(0, 0, 0, 0.025),
    126px 108px 270px -30px rgba(0, 0, 0, 0.06);
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-radius: 50px;
}

.form {

  display: flex;
  place-items: center;
  flex-direction: column;
}

.form .form-header,
.form .form-body,
.form .form-footer {
  /* background-color: rgba(165, 165, 165, 0.512); */
}

/* ************* form header **************** */
.form .form-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px 50px 0 0;
  flex-direction: column;
  padding: 10px;
  height: fit-content;
}

.form .form-header h2.title {
  font-family: var(--primary-font);
  color: var(--primary-black);
  font-size: 48px;
  letter-spacing: 9px;
  margin: 1rem 0;
}

.form .form-header p.slugan {
  font-family: var(--socondry-font);
  color: var(--primary-black);
  font-size: 20px;
  font-weight: 400;
  opacity: 0.7;
}

/* ************* form body **************** */
.form .form-body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  /* background-color: antiquewhite; */
}

.form .form-body .form-group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  /* background-color: aqua; */
}

.form .form-body .form-group .form-field {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  /* background-color: aquamarine; */
}

.form .form-body .form-group .form-field>input {
  width: 600px;
  height: 55px;
  padding: 10px;
  border-radius: 21px;
  border: none;
  background-color: var(--secondry-gray);
  font-family: var(--socondry-font);
  font-size: 20px;
  font-weight: 400;
  color: var(--primary-black);
  outline: none;
}

.form .form-body .form-group .form-field>input::placeholder {
  visibility: hidden;
  /* Hide the placeholder text */
}

.form .form-body .form-group .form-field>label {
  font-family: var(--socondry-font);
  color: var(--gray);
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
}

.form .form-body .form-group .password_forget {
  text-align: right;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-family: var(--socondry-font);
  color: var(--gray);
  font-size: small;
}

.form .form-body .form-group .form-field>button.btn_submit {
  width: 550px;
  height: 55px;
  padding: 10px;
  border-radius: 21px;
  border: none;
  background-color: var(--primary-black);
  font-family: var(--socondry-font);
  font-size: 20px;
  font-weight: 400;
  color: var(--white);
  outline: none;
  cursor: pointer;
  margin: auto;
  transition: opacity 0.2s ease;
}
.form .form-body .form-group .form-field>button.btn_submit:hover {
  /* background-color: var(--alive-blue); */
  opacity: 0.9;
  outline: 1px solid var(--alive-blue);
}

.loginPage .form-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  /* background-color: aquamarine; */
}

.loginPage .form-footer p {
  font-family: var(--socondry-font);
  color: var(--alive-blue);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.2px;
  width: 486px;
  height: 28px;
  text-align: center;
  position: relative;
}

.loginPage .form-footer>p::before,
.loginPage .form-footer>p::after {
  content: "- - - - - - - - -";
  /* display: inline-block; */
  /* width: 100px; */
  /* height: 1px; */
  font-weight: 500;
  font-family: unset;
  color: var(--alive-blue);
  position: absolute;
  /* top: 50%; */
}

.loginPage .form-footer>p::before {
  left: 0px;
}

.loginPage .form-footer>p::after {
  right: 0px;
}

.loginPage .form-footer .remote-login {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 10px;
  /* background-color: aquamarine; */
}

.loginPage .form-footer .remote-login button {
  width: 150px;
  height: 70px;
  border-radius: 21px;
  border: none;
  background-color: var(--primary-black);
  outline: none;
  cursor: pointer;
}

.loginPage .form-footer .remote-login button img {
  width: 60px;
  aspect-ratio: 1/1;
  filter: grayscale(100%);
}

.loginPage .form-footer .signup {
  font-family: var(--socondry-font);
  color: var(--gray);
  font-size: 18px;
  font-weight: 400;
  margin: 40px 0 ;
  letter-spacing: 1.2px;
  cursor: pointer;
  width: 100%;
  /* text-align: right; */
  /* background-color: tomato; */
}
.loginPage .form-footer .signup > p{
  display: block;
  text-align: left;
  width: 100%;
}
.loginPage .form-footer .signup a {
  color: var(--primary-black);
}

/******************** validators ********************/
.form .form-body .form-group .form-field>input {
  outline: 1px solid var(--dead-blue);
}

.form .form-body .form-group .form-field>input:not(:placeholder-shown):valid {
  outline: 1px solid var(--primary-success);
}

.form .form-body .form-group .form-field>input:not(:placeholder-shown):invalid {
  outline: 1px solid var(--primary-danger);
}

.form .form-body .form-group .form-field>input:not(:placeholder-shown):focus:invalid {
  outline: 1px solid var(--socondry-warning);
}