/* 
    css style for logout button
*/
:root {
    --primary-danger: #dc3545;
    --primary-danger-hover: #c82333;
    --primary-danger-active: #bd2130;
}

.logout-button {
    background-color: var(--primary-danger);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.logout-button:hover {
    background-color: var(--primary-danger-hover);
}

.logout-button:active {
    background-color: var(--primary-danger-active);
}

.logout-button:focus {
    outline: none;
}

.logout-button:disabled {
    background-color: var(--gray-400);
    color: var(--white);
    cursor: not-allowed;
}


