/****** router-link.css ******/

:host {
    text-decoration: none;
    /* background-color: tomato; */
    display: inline-block;
    cursor: pointer;
}

:host(:hover) {
    /* text-decoration: underline; */
    color: inherit;
    /* background-color: inherit; */
    box-shadow: 0px 3px 30px 1px rgba(currentColor, 0.2);
    /* box-shadow: 2px 11px 13px -2px currentColor; */
    transition: all 0.1s ease-in-out;
}

::slotted(span) {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: #f0f0f000;
}

