/****** TOWFA.css ******/

* {
  box-sizing: border-box;
  /* cursor: url(../images/cursor.png), auto !important; */
  caret-color: transparent;
}


.towfa-page * {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box !important;
}

.towfa-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  box-sizing: border-box !important;
  position: relative;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 700px;
  height: fit-content;
  padding: 50px;
  background-image: linear-gradient(to bottom, var(--dead-blue), var(--white));
  -webkit-box-shadow: 54.7px 46.9px 60.7px -30px rgba(0, 0, 0, 0.025),
    126px 108px 270px -30px rgba(0, 0, 0, 0.06);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 54.7px 46.9px 60.7px -30px rgba(0, 0, 0, 0.025),
    126px 108px 270px -30px rgba(0, 0, 0, 0.06);
  /* Firefox 3.5 - 3.6 */
  box-shadow: 54.7px 46.9px 60.7px -30px rgba(0, 0, 0, 0.025),
    126px 108px 270px -30px rgba(0, 0, 0, 0.06);
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-radius: 50px;
  z-index: 1;
}


.form {
  display: flex;
  place-items: center;
  flex-direction: column;
}


/* ************* form header **************** */
.form .form-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px 50px 0 0;
  flex-direction: column;
  padding: 10px;
  height: fit-content;
}

.form .form-header h2.title {
  font-family: var(--primary-font);
  color: var(--primary-black);
  font-size: 1.7rem;
  letter-spacing: 9px;
  margin: 1rem 0;
  text-align: center;
}

.form .form-header p.slugan {
  font-family: var(--socondry-font);
  color: var(--primary-black);
  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0.7;
  margin-bottom: 10px;
}

.form .form-header p.sub_slugan {
  font-family: var(--socondry-font);
  color: var(--gray);
  font-size: 1.1rem;
  font-weight: 400;
  opacity: 0.7;
}

.form .form-header .form-header-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px 50px 0 0;
  flex-direction: column;
  padding: 10px;
  height: fit-content;
}

/* ************* form body **************** */
.form .form-body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid var(--dead-blue);
  border-radius: 27px;
  /* background-color: antiquewhite; */
}

.form .form-body .form-group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  /* background-color: rgba(226, 147, 43, 0.133); */
}

.form .form-body .form-group .qr-code {
  grid-area: span 2;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 27px;
  border: 1px solid var(--gray);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.form .form-body .form-group .qr-code img {
  width: 200px;
  height: 100%;
  object-fit: contain;
  /* filter:invert(1); */
}

.form .form-body .form-group .form-field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  width: 100%;
}

.form-field.shake {
  animation: shake 150ms linear 1;
}


@keyframes shake {
  0% {
    transform: translate(5px, 0px);
  }

  25% {
    transform: translate(-3px, 0px);
  }

  50% {
    transform: translate(3px, 0px);
  }

  75% {
    transform: translate(7px, 0px);
  }

  100% {
    transform: translate(-1px, 0px);
  }
}

.form .form-body .form-group .form-field .code-verefication {
  /* input OTP squer */
  width: 50px;
  height: 50px;
  border: 1px solid var(--gray);
  border-radius: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-black);
  background-color: var(--white);
}

.form .form-body .form-group .info {
  font-family: var(--socondry-font);
  color: var(--gray);
  font-size: 1.1rem;
  font-weight: 400;
  opacity: 0.7;
}

.form .form-body .form-group .form-field>button.btn_submit {
  width: 550px;
  height: 55px;
  padding: 10px;
  border-radius: 21px;
  border: none;
  background: radial-gradient(circle, var(--primary-black) 100%, var(--alive-blue) 0%);
  font-family: var(--socondry-font);
  font-size: 20px;
  font-weight: 400;
  color: var(--white);
  outline: none;
  cursor: pointer;
  margin: auto;
  transition: all 0.2s ease;
}

.form .form-body .form-group .form-field>button.btn_submit:focus {
  outline: 3px solid var(--alive-blue);
}

.container .backToLogin>p {
  font-family: var(--socondry-font);
  color: var(--alive-blue);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.2px;
  width: 486px;
  height: 28px;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease;
}

/******************** validators ********************/
.form .form-body .form-group .form-field>input::placeholder {
  visibility: hidden;
}

.form .form-body .form-group .form-field>input::-moz-placeholder {
  visibility: hidden;
}

.form .form-body .form-group .form-field>input {
  outline: 1px solid var(--dead-blue);
  transition: outline 0.5s ease;
}

.form .form-body .form-group .form-field>input:focus {
  outline: 2px solid var(--alive-blue);
}

.form .form-body .form-group .form-field>input:not(:placeholder-shown):valid {
  outline: 1px solid var(--primary-success);
  border: none;
}

.form .form-body .form-group .form-field>input:not(:placeholder-shown):invalid {
  outline: 1px solid var(--primary-danger);
  border: 1px solid transparent;
}

.form .form-body .form-group .form-field>input:not(:placeholder-shown):focus:invalid {
  outline: 1px solid var(--socondry-warning);
  border: 1px solid transparent;
}